@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div>
    <h1>This is has been modified on the server</h1>
    <h2>Here is an correction</h2>
    </div>
</body>
</html>
